.image-upload-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

  .image-upload-label {
    border: 2px dashed grey;
    padding: 20px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
  }

  .image-upload-label:hover {
    border-color: blue;
  }

  .image-preview {
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin-bottom: 10px;
  }

  .upload-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .upload-btn:hover {
    background-color: #0056b3;
  }

  .website-logo {
    height: 60px; /* Adjust size as needed */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  .uploaded-image {
    max-width: 100%;
    height: auto;
    /* other styles... */
  }

  .text-submission-container {
    width: max-content;
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
  }
